#login {
    justify-content: center;
    align-items: center;
}

form#loginSignIn {
    min-width: 300px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#logotipo {
    max-width: 45px;
    display: inline-block;
}

fieldset {
    border: none;
}

.login-title {
    font-size: 1rem;
    margin-bottom: 15px;
    width: 90%;
    margin: 0 auto;
}

.text {
    color: #1B3E6A;
}

.input {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input label {
    flex: 1;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
}
.input input {
    flex: 4;
    height: 25px;
}

.btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

#btnSubmit {
    width: 100%;
    background-color: #fd7e14;
    color: white;
    border-style: none;
    border-radius: 3px;
    padding: 10px;
    text-shadow: none;
    font-size: 15px;
    text-decoration: none;
}

#btnSubmit:hover,
#btnSubmit:active {
    transition: all 0.5s;
    cursor: pointer;
    background-color: #eb6b02;
}

#btnPassword {
    background: transparent;
    border: none;
    color: #1B3E6A;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}

#btnPassword:hover,
#btnPassword:active {
    color: #007bff;
}

#btnRegister {
    width: 100%;
    background-color: white;
    color: #fd7e14;
    border: 2px solid #fd7e14;
    border-radius: 3px;
    padding: 10px;
    text-shadow: none;
    font-size: 15px;
    text-decoration: none;
    line-height: 15px;
}

#btnRegister:hover,
#btnRegister:active {
    color: #eb6b02;
    border: 2px solid #eb6b02;
    background-color: #fff9f9;
}